{% extends "start.html" %}

{% block content %}

  <div class="container mt-5">
    <div class="card shadow mx-auto">
      <form class="card-body" method="post">
        {% csrf_token %}
        <h5 class="card-title text-center py-3">Sign In</h5>
        <label class="float-start" for="id_username">Username</label><br>
        <input type="text" name="username" class="form-control" autocapitalize="none" autocomplete="username" required id="id_username"><br>
        <input type="hidden" id="id_username">
        <label class="float-start" for="id_password">Password</label><br>
        <input type="password" name="password" class="form-control" autocomplete="current-password" required id="id_password"><br>
        <button class="btn btn-primary" type="submit">Log In</button>
      </form>
    </div>

</div>
{% endblock content %}
